<div>
    <form [formGroup]="artistForm" (ngSubmit)="createArtist()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Main Genre</mat-label>
            <mat-select [value]="selectedMainGenreName" (selectionChange)="onMainGenreChange($event)" required>
                <!-- <mat-option *ngFor="let genre of musicGenres" [value]="genre.name">
                    {{ genre.name }}
                </mat-option> -->
                @for (genre of musicGenres; track genre) {
                <mat-option [value]="genre.name">{{genre.name}} </mat-option>
                }
            </mat-select>
            <mat-error>
                Main Genre is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Subgenre</mat-label>
            <mat-select formControlName="genre">
                <!-- <mat-option *ngFor="let subgenre of selectedSubgenres" [value]="subgenre">
                    {{ subgenre }}
                </mat-option> -->
                @for (subgenre of selectedSubgenres; track subgenre) {
                <mat-option [value]="subgenre">{{subgenre}} </mat-option>
                }
            </mat-select>
            <mat-error>
                Subgenre is required.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="artistForm.invalid">
            Create Artist
        </button>
        <div>{{this.artistsService.error()}}</div>
    </form>

    <form [formGroup]="performanceForm" (ngSubmit)="createPreformance()">
        <mat-form-field appearance="fill">
            <mat-label>Artist</mat-label>
            <mat-select formControlName="artistId">
                <!-- <mat-option *ngFor="let subgenre of selectedSubgenres" [value]="subgenre">
                    {{ subgenre }}
                </mat-option> -->
                @for (artist of artistsService.artists(); track artistsService.artists();) {
                <mat-option [value]="artist.id">{{artist.name}} </mat-option>
                }
            </mat-select>
            <mat-error>
                Artist is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Festival</mat-label>
            <mat-select [value]="selectedFestivalId()" (selectionChange)="onFestivalIdChange($event.value)">
                <!-- <mat-option *ngFor="let subgenre of selectedSubgenres" [value]="subgenre">
                    {{ subgenre }}
                </mat-option> -->
                @for (festival of festivalsService.festivals(); track festivalsService.festivals()) {
                <mat-option [value]="festival.id">{{festival.name}} </mat-option>
                }
            </mat-select>
            <mat-error>
                Festival is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Stage</mat-label>
            <mat-select formControlName="stageId" [value]="selectedStageId()"
                (selectionChange)="onStageIdChange($event.value)">
                <!-- <mat-option *ngFor="let subgenre of selectedSubgenres" [value]="subgenre">
                    {{ subgenre }}
                </mat-option> -->
                @for (stage of selectedFestival()?.stages; track selectedFestival()!) {
                <mat-option [value]="stage.id">{{stage.name}} </mat-option>
                }
            </mat-select>
            <mat-error>
                Stage is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="festivalDateFilter" [value]="selectedDate()"
                (dateChange)="onDateChange($event.value)" formControlName="day"> <mat-hint>Date must be within festival dates</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput [matTimepicker]="timepicker" formControlName="start_time" required />
            <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker interval="15m"></mat-timepicker>
            <mat-error>Choose Time</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput [matTimepicker]="timepicker2" formControlName="end_time" required />
            <mat-timepicker-toggle matIconSuffix [for]="timepicker2"></mat-timepicker-toggle>
            <mat-timepicker interval="15m" #timepicker2></mat-timepicker>
            <mat-error>Choose Time</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="performanceForm.invalid">
            Create Artist
        </button>
        <div>{{this.performanceService.error()}}</div>
    </form>
</div>