<header [ngClass]="{'scrolled': isScrolled}"
    class="fixed left-0 right-0 z-50 flex items-center justify-between md:px-6 h-16 ">
    <button class="flex items-center cursor-pointer" (click)="router.navigate(['/'])">
        <!-- <mat-icon class="text-3xl mr-2 text-indigo-600 dark:text-indigo-400">event</mat-icon> -->
        <span class="text-xl md:text-2xl font-extrabold tracking-tight">
            OnTime
        </span>
    </button>

    <nav class="md:flex space-x-6">
        @if(authService.token()){
        <app-primary-button label="lineup" routerLink="/lineup"></app-primary-button>
        }
        @if (authService.hasRequiredRoles(["ORGANIZER", "ADMIN"])) {
        <app-primary-button label="festival admin" routerLink="/festivals-admin"></app-primary-button>
        <app-primary-button label="artists admin" routerLink="/artists-admin"></app-primary-button>
        }
        @if (authService.token()) {
        <app-primary-button (btnClick)="logout()" icon="logout">
        </app-primary-button>
        }
        @else {
        <app-primary-button label="login" routerLink="/login"></app-primary-button>
        }
        @if (authService.token()) {
        <app-primary-button [label]="authService.getName()" routerLink="/profile"></app-primary-button>
        }
    </nav>

    <button mat-icon-button class="md:hidden" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
    </button>
</header>