<header [ngClass]="{ 'scrolled': isScrolled }"
    class="fixed left-0 right-0 z-50 flex items-center justify-between h-24 px-4 md:px-6">

    @if(currentRoute !== "/register"){
    <div class="rounded-full menu-bg p-1 h-[44px] w-[40px] order-1 md:order-2 z-100">
        <app-primary-button icon="menu" class="h-[24px]" (click)="toggleMobileMenu()"></app-primary-button>
    </div>
    }

    <button class="flex items-center cursor-pointer order-2 md:order-1 z-100" (click)="onClick()">
        <span class="text-2xl font-extrabold bg-primary-neon">
            OnTime
        </span>
    </button>

    @if(!authService.token()){
    <app-primary-button class="order-3 z-100" icon="login" routerLink="/login"
        (btnClick)="closeMobileMenu()"></app-primary-button>
    }
    @else {
    <div class="flex items-center order-3 z-100">
        <div>
            {{authService.getName()}}
        </div>
        <app-primary-button icon="account_circle" routerLink="/profile"></app-primary-button>
    </div>
    }
    <div class="fixed inset-0 backdrop-blur-xs z-40 flex flex-col items-center justify-center " *ngIf="isMobileMenuOpen"
        (click)="closeMobileMenu()">

        <div class="flex flex-col py-12 px-16 gap-3 w-86" (click)="$event.stopPropagation()">
            @if(authService.token()) {
            <app-primary-button label="My Lineup" class="text-2xl" routerLink="/lineup"
                (btnClick)="closeMobileMenu()"></app-primary-button>
            <mat-divider></mat-divider>
            <app-primary-button label="My Festivals" class="text-2xl" routerLink="/my-festivals"
                (btnClick)="closeMobileMenu()"></app-primary-button>
            <mat-divider></mat-divider>
            }
            @if (authService.hasRequiredRoles(["ORGANIZER", "ADMIN"])) {
            <app-primary-button label="Festivals" class="text-2xl" routerLink="/festivals-admin"
                (btnClick)="closeMobileMenu()"></app-primary-button>
            <mat-divider></mat-divider>
            <app-primary-button label="Artists" class="text-2xl" routerLink="/artists-admin"
                (btnClick)="closeMobileMenu()"></app-primary-button>
            <mat-divider></mat-divider>
            }
            @if (authService.hasRequiredRoles([ "ADMIN"])) {
            <app-primary-button label="Admin" class="text-2xl" routerLink="/admin"
                (btnClick)="closeMobileMenu()"></app-primary-button>
            <mat-divider></mat-divider>
            }
            @if (authService.token()) {
            <app-primary-button icon="local_activity" routerLink="/tickets" (btnClick)="closeMobileMenu()"
                color="#FFC226"></app-primary-button>
            <mat-divider></mat-divider>
            <app-primary-button (btnClick)="logout(); closeMobileMenu()" icon="logout" color="red"></app-primary-button>
            }
        </div>
    </div>
</header>