@import "../../../styles/colors";

header {
  transition: background 0.3s ease;
  background: transparent;
}

header.scrolled {
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.menu-bg{
  background-color: rgba(43, 43, 43, 0.597);
}
::ng-deep .mat-expansion-indicator svg{
  fill: $neon !important;
}