<div class="container mx-auto">
    <div class="text-3xl py-10 pl-10 font-bold">My Festivals</div>

    @if (festivals().length === 0) {
    <div>
        You have no tickets bought.
        Click <a class="font-bold" [routerLink]="['/tickets']">here</a> to go buy tickets!
    </div>
    }

    <mat-accordion>
        @for (item of festivals(); track $index) {
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.festival.name}} | {{item.festival.start_date | date: 'd MMMM ' }} -
                    {{item.festival.end_date | date: 'd MMMM y' }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
                @for (item of item.festival.performances.slice(0,8); track $index) {
                <mat-card>
                    <mat-card-header class="text-xl flex flex-col">
                        <div class="neon">{{item.artist.name}}</div>
                        <div class="text-[12px]">
                            {{item.start_time | formatTime}} - {{item.end_time | formatTime}}
                        </div>
                        <div>{{item.stage.name}}</div>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
                }
            </div>
            <app-primary-button label="Open" class="" [routerLink]="'/my-festivals/'+ item.festival.id"></app-primary-button>
        </mat-expansion-panel>
        }
    </mat-accordion>
</div>