<div class="reset-password-container">
    <mat-card class="reset-password-card">
        <mat-card-header>
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if(isValidToken$ | async){
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <p>Enter your new password.</p>
                <mat-form-field class="full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" formControlName="new_password" placeholder="Enter new password"
                        (input)="onChange()">
                    @if (resetPasswordForm.get('new_password')?.hasError('required')) {
                    <mat-error>New password is required</mat-error>
                    }
                </mat-form-field>
                @if (showPasswordTooltip) {
                <div class="custom-tooltip">
                    {{ passwordTooltip }}
                </div>
                }

                <mat-form-field class="full-width">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput type="password" formControlName="confirm_password"
                        placeholder="Confirm new password">
                    <mat-error *ngIf="resetPasswordForm.get('confirm_password')?.hasError('required')">Confirm
                        password is required</mat-error>
                    <mat-error
                        *ngIf="resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('confirm_password')?.dirty">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid "
                    class="full-width">
                    Submit
                </button>
            </form>
            }
            @else {
            <div class="message-container">
                <mat-icon color="warn">error_outline</mat-icon>
                <p>Invalid or missing password reset token. Please ensure you clicked the link from your email
                    correctly.</p>
                <button mat-button color="primary" routerLink="/forgot-password">Request a New Link</button>
            </div>
            }
        </mat-card-content>
    </mat-card>
</div>