<div>
    <form [formGroup]="festivalForm" (ngSubmit)="createFestival()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName="latitude" inputmode="numeric" type="number" required />
            <mat-error>Latitude is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName="longitude" inputmode="numeric" type="number" required />
            <mat-error>Longitude is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="start_date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-error>Date is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="datepicker2" formControlName="end_date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
            <mat-error>Date is required</mat-error>
        </mat-form-field>
        <div class="grid place-items-center">
            <div id="map" class="cell" style="height: 500px; width: 70%; margin-top: 1rem;"></div>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="festivalForm.invalid">
            Create Festival
        </button>
        <div>{{this.festivalsService.error()}}</div>
    </form>


    <form [formGroup]="stageForm" (ngSubmit)="createStage()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Festival</mat-label>
            <mat-select formControlName="festivalId">
                @for (festival of festivals(); track festival) {
                <mat-option [value]="festival.id">{{festival.name}} </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="stageForm.invalid">
            Create Stage
        </button>
        <div>{{this.stagesService.error()}}</div>

    </form>
    
</div>