<div>
    <form [formGroup]="festivalForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName="latitude" required />
            <mat-error>Latitude is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName="longitude" required />
            <mat-error>Longitude is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="start_date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-error>Date is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="datepicker2" formControlName="end_date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
            <mat-error>Date is required</mat-error>
        </mat-form-field>

        <div id="map" style="height: 400px; margin-top: 1rem;"></div>
        <button mat-raised-button color="primary" type="submit" [disabled]="festivalForm.invalid">
            Create Festival
        </button>
    </form>


    <form [formGroup]="artistForm">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput [matTimepicker]="timepicker" formControlName="start_time" required />
            <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker></mat-timepicker>
            <mat-error>Choose Date</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput [matTimepicker]="timepicker2" formControlName="end_time" required />
            <mat-timepicker-toggle matIconSuffix [for]="timepicker2"></mat-timepicker-toggle>
            <mat-timepicker interval="15m" #timepicker2></mat-timepicker>
            <mat-error>Choose Date</mat-error>
        </mat-form-field>
    </form>

</div>