<div class="container mx-auto p-5 ">
    <form [formGroup]="profileForm" class="flex flex-col items-center" (ngSubmit)="onSubmit()">
        <mat-card class="w-[40%] bg flex flex-col items-center">
            <mat-card-title class="py-6 !text-2xl">Profile</mat-card-title>
            <mat-card-content class="!flex flex-col items-center">
                    <mat-form-field class="w-58">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="first_name" />
                        <mat-error>
                            First name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-58">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="last_name" />
                        <mat-error>
                            Last name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-58">
                        <mat-label>Birthday</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" formControlName="birthday" readonly>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                        <mat-error>
                            Birthday is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-58">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" />
                        <mat-error>
                            Phone is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-58">
                        <mat-label>Country Code</mat-label>
                        <input matInput formControlName="country_code" />
                        <mat-error>
                            Country code is required
                        </mat-error>
                    </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end" class="!py-4">
                <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">
                    Update Profile
                </button>
                <button mat-raised-button color="primary" (click)="openChangePasswordDialog()">
                    Change Password
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>