<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="first_name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="last_name" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>password</mat-label>
            <input matInput formControlName="password" type="password" required />
            <mat-error>Latitude is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
            Create Festival
        </button>
        <div>{{this.userService.error()}}</div>
    </form>
</div>