<div class="container mx-auto">
    @if (lineupService.lineup().length === 0) {
    <div>
        You have nothing in your lineup .
        Click <a class="font-bold" [routerLink]="['/my-festivals']">here</a> to go add artists!
    </div>
    }

    <mat-accordion>
        @for (lineup of lineupService.lineup(); track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{lineup.name}} | {{lineup.start_date | formatDate }} -
                    {{lineup.end_date | formatDate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid md:grid-cols-3">
                @for (performance of lineup.performances; track $index) {
                <mat-card >
                    <mat-card-header class="flex flex-col items-center">
                        <div class="text-2xl artist">{{performance.artist.name}}</div>
                        <div>{{performance.stage.name}}</div>
                    </mat-card-header>
                    <mat-card-content >
                        <div>
                            {{performance.day | formatDate }}
                        </div>
                        <div class="flex">
                            <mat-icon class="text-sm">schedule</mat-icon>
                            {{performance.start_time | formatTime}} - {{performance.end_time | formatTime}}
                        </div>
                    </mat-card-content>
                </mat-card>
                }
            </div>
        </mat-expansion-panel>
        }
    </mat-accordion>
</div>